.logo{
    width: 200px;
    margin-top: -90px;
    margin-bottom: -50px;
    padding-bottom: -100px;
}
.inputa{
    
    max-width: 400px!important;
    padding:auto;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: #27649B  ;
    box-shadow: 0 1px 1px  #27649B inset, 0 0 8px  #27649B ;
    
    
    
   
   
}

.btn-iniciar{
    
    background-color: #549FBC !important;
    color: whitesmoke;
    min-width: 120px;
    border: none;
    height: 45px;
    border-radius: 5px;
    margin: 5px;

}
.btn-crearCuenta{
    background-color: #27649B !important;
    min-width: 120px;
    border: none;
    height: 45px;
    color: whitesmoke;
    margin: 5px;
    border-radius: 5px;

}
.inputab{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #27649B !important;
    color: whitesmoke;
    border-color: #27649B  !important;
    box-shadow: 0 1px 1px  #27649B inset, 0 0 8px  #27649B!important ;
    
    font-weight: bolder;
}
.tematicas{
    width: 200px;
}
.card{
    
    width: 100%;
    margin: 20px;
    border-radius: 5px;
    width: 9.5rem;
    
    box-shadow:  0px 1px  10px rgba(0, 0, 0, 0.2);
    transition:  all 400ms ease;
    
    
 
}
.te{
    background-color: #27649B;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: whitesmoke;
   
    
}
.card:hover{
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3%);
}
.tematica{
    min-width: 12rem;
    width: 20rem;
    height: 200px;
    margin: 20px;
    border-radius: 12px;
    
   
    
}


.xd{
    background-color: whitesmoke;
   
    
}
.xd2{

padding-left: 30px;


}
.perro{
    background-color: #82C149;
    height: 40px;
    color: whitesmoke;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.l6{
    padding-top: 5px;
    font-size: 20px;
    
    
}